<div class="comment-autor">
  <%= image_tag 'default_avatar.png', :class => 'commenter-avatar' %> <br/>
  <strong>Commenter:</strong><br />
  <%= comment.commenter %>
</div>

<div class="comment-body">
  <strong>Comment:</strong> <br/>
  <%= comment.body %>
</div>
<div class="comment-button">
<%= link_to 'Destroy Comment', [comment.post, comment],
             method: :delete,
             data: { confirm: 'Are you sure?' } %>
</div>