<div class="comment-autor">
  <%= image_tag 'default_avatar.png', :class => 'commenter-avatar' %> <br/>
  <strong>Commenter:</strong><br />
  <%= comment.commenter %>
</div>

<div class="comment-body">
  <strong>Comment:</strong> <br/>
  <%= comment.body %>
</div>
<div class="comment-button">
<%= delete_comment_button comment %>
</div>