<div class="post">
  <div class="post-image-container">
    <%= image_tag(post.image_url, :class => 'img-responsive') %>
  </div>
  <div class="post-timestamp"><em><%= post.timestamp %></em></div>
  <div class="post-title">
    <%= link_to post.title, post_path(post) %>
  </div>
  
  <div class="post-body">
    <p><%= truncate(strip_tags(post.body), length: 600) %></p>
  </div>
</div>