<div class="page-header">
  <h1>My posts</h1>
  Created using Ruby on Rails
  <div class="header-btn">
  <%= show_newpost_button %>
  </div>
</div>
<p id="notice"><%= notice %></p>

<div id="posts-container">
  <div class="posts">
    <%= render @posts %>
  </div>
</div>

<div id="infinite-scrolling">
  <%= paginate @posts %>
</div>