<div class="page-header">
  <h1>My posts</h1>
  Created using Ruby on Rails
  <div class="header-btn">
    <%= link_to 'New Post',new_post_path, :class=>"btn btn-default" ,:type=>'button' %>
  </div>
</div>
<p id="notice"><%= notice %></p>

<div id="my-posts">
  <%= render @posts %>
</div>

<div id="infinite-scrolling">
  <%= paginate @posts %>
</div>