@import 'bootstrap';

body{
  background-color: #FAFAFA;
}
.container{
  width:800px;
}

.post-title{
  font-size: 30px;
  line-height: 34px;
  font-weight: 900;
  padding-left: 10px;
}

.post-image{
  width: 800px;
  display:block
}

.post{
  background-color:#FFFFFF;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.post-body{
  padding-left:10px;
  display:block;
}

.post-timestamp{
  float:right;
  padding-right: 10px;
}